@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {font-family: "KFGQPC HAFS Uthmanic Script";
    src: url("http://db.onlinewebfonts.com/t/a565b17e58e287300f1cd79645ae1770.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/a565b17e58e287300f1cd79645ae1770.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/a565b17e58e287300f1cd79645ae1770.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/a565b17e58e287300f1cd79645ae1770.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/a565b17e58e287300f1cd79645ae1770.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/a565b17e58e287300f1cd79645ae1770.svg#KFGQPC HAFS Uthmanic Script") format("svg"); /* iOS 4.1- */
}

.header-container{
    @apply shadow mb-16 sticky top-0;
    backdrop-filter: blur(5px);
}

header{
    @apply container max-w-screen-lg flex justify-between items-center;
}

.logo{
    @apply font-bold text-3xl;
}

nav > ul > li > a{
    @apply btn btn-ghost p-5 rounded-none font-bold;
};

nav > ul > li > a:hover{
    @apply bg-primary text-primary-content;
};


/* Style untuk list surat */
.list-surat{
    @apply grid grid-cols-1 gap-4 md:grid-cols-3 sm:grid-cols-2;
};

.list-surat > li{
    @apply p-2 rounded-lg shadow bg-primary/5;
};

.list-surat > li > a{
    @apply flex items-center;
};

.nomor-surat{
    @apply flex basis-10 text-3xl font-hafs;
}

.detail-surat{
    @apply grow text-xs;
}

.info-surat{
    @apply text-slate-500;
}

.nama-arab{
    @apply text-right basis-14 font-hafs text-lg;
}

/* Style untuk halaman surat */
.daftar-surat > li{
    @apply my-16;
}

.bacaan{
    @apply w-full rounded-md shadow my-2;
}
.teks-arab{
    @apply font-hafs text-right bg-primary/5 w-full text-2xl rounded-t-md p-4;
}
.teks-latin{
    @apply w-full px-4 pt-4 text-justify text-xl;
}
.teks-terjemahan{
    @apply w-full px-4 pb-4 text-justify italic;
}